{% extends 'user/user.base.html.twig' %}

{% block title %}Mot de Passe{% endblock %}

{% block main_class %}items-center justify-center p-4 pt-[88px]{% endblock %}

{% block main %}
    <div class="w-full max-w-md my-8">
        <div class="mb-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto text-accent-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"/>
            </svg>
            <h1 class="text-3xl font-bold text-text-100 mt-4">PrépaLib</h1>
            <p class="text-text-300 mt-2">Mettre à jour mon mot de passe</p>
        </div>

        <div class="rounded-xl bg-foreground-500 overflow-hidden">
            <div class="p-8">
                {{ form_start(passwordForm, {'attr': {'class': 'space-y-6'}}) }}
                <div>
                    {{ form_label(passwordForm.oldPassword) }}
                    {{ form_widget(passwordForm.oldPassword) }}
                    {{ form_errors(passwordForm.oldPassword) }}
                </div>
                <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                    <div class="flex-1">
                        {{ form_label(passwordForm.newPassword.first) }}
                        {{ form_widget(passwordForm.newPassword.first) }}
                        {{ form_errors(passwordForm.newPassword.first) }}
                    </div>
                    <div class="flex-1">
                        {{ form_label(passwordForm.newPassword.second) }}
                        {{ form_widget(passwordForm.newPassword.second) }}
                        {{ form_errors(passwordForm.newPassword.second) }}
                    </div>
                </div>
                {{ form_widget(passwordForm.submit) }}
                {{ form_end(passwordForm) }}
            </div>
            <div class="px-8 py-2 bg-foreground-300/50 border-t border-foreground-300 text-center flex flex-col">
                <div>
                    <a href="#" class="text-text-300 hover:text-text-200 text-sm transition">Mot de passe oublié</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
