{% extends 'user/user.base.html.twig' %}

{% block title %}Mes Informations{% endblock %}

{% block main_class %}items-center justify-center p-4 pt-[88px]{% endblock %}

{% block main %}
    <div class="w-full max-w-md my-8">
        <div class="mb-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto text-accent-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/>
            </svg>
            <h1 class="text-3xl font-bold text-text-100 mt-4">PrépaLib</h1>
            <p class="text-text-300 mt-2">Mettre à jour mes informations</p>
        </div>

        <div class="rounded-xl bg-foreground-500 overflow-hidden">
            <div class="p-8">
                {{ form_start(profileForm, {'attr': {'class': 'space-y-6'}}) }}
                <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
                    <div class="flex-1">
                        {{ form_label(profileForm.firstname) }}
                        {{ form_widget(profileForm.firstname) }}
                        {{ form_errors(profileForm.firstname) }}
                    </div>
                    <div class="flex-1">
                        {{ form_label(profileForm.lastname) }}
                        {{ form_widget(profileForm.lastname) }}
                        {{ form_errors(profileForm.lastname) }}
                    </div>
                </div>
                <div>
                    {{ form_label(profileForm.email) }}
                    {{ form_widget(profileForm.email) }}
                    {{ form_errors(profileForm.email) }}
                </div>

                {{ form_widget(profileForm.submit) }}
                {{ form_end(profileForm) }}
            </div>
            <div class="px-8 py-2 bg-foreground-300/50 border-t border-foreground-300 text-center flex flex-col">
                <div>
                    <a href="{{ path('app_delete_account') }}" class="text-text-300 hover:text-text-200 text-sm transition">Supprimer mon compte</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
