{% extends "admin/admin.base.html.twig" %}

{% block title %}Tableau de Bord{% endblock %}

{% block main %}
    <div class="min-h-[100dvh] px-4 flex justify-center">
        <div class="flex flex-col gap-3 py-4 my-auto">
            <div class="flex justify-center">
                <span class="text-center text-5xl font-black">Tableau de bord</span>
            </div>

            <div class="mx-auto my-5 flex flex-wrap flex-row max-w-[1200px] justify-center">
                <div class="w-full md:w-1/2 lg:w-1/3 p-5">
                    <div class="group shadow-accent-yellow-700/22 hover:shadow-[0_12px_32px] bg-foreground-500 border border-solid border-foreground-300 transition transform-[translateY(0)_scale(1)] hover:transform-[translateY(-10px)_scale(1.05)] rounded-xl p-6 relative flex flex-col justify-center h-[200px]">
                        <p class="group-hover:text-accent-yellow-700 text-accent-yellow-500 transition text-center text-4xl font-bold">{{ stats.chapters }}</p>
                        <p class="text-center text-xl font-semibold">Chapitres</p>

                        <div class="group-hover:text-accent-yellow-700 text-accent-yellow-500 group-hover:bg-accent-yellow-700/16 bg-accent-yellow-500/16 transition absolute right-5 top-5 p-3 rounded-lg h-[48px] w-[48px] flex justify-center">
                            <i class="fa-solid fa-book text-2xl m-auto"></i>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/3 p-5">
                    <div class="group shadow-accent-green-700/22 hover:shadow-[0_12px_32px] bg-foreground-500 border border-solid border-foreground-300 transition transform-[translateY(0)_scale(1)] hover:transform-[translateY(-10px)_scale(1.05)] rounded-xl p-6 relative flex flex-col justify-center h-[200px]">
                        <p class="group-hover:text-accent-green-700 text-accent-green-500 transition text-center text-4xl font-bold">{{ stats.users }}</p>
                        <p class="text-center text-xl font-semibold">Utilisateurs</p>

                        <div class="group-hover:text-accent-green-700 text-accent-green-500 group-hover:bg-accent-green-700/16 bg-accent-green-500/16  transition absolute right-5 top-5 p-3 rounded-lg h-[48px] w-[48px] flex justify-center">
                            <i class="fa-solid fa-users text-2xl m-auto"></i>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/3 p-5">
                    <div class="group shadow-accent-blue-700/22 hover:shadow-[0_12px_32px] bg-foreground-500 border border-solid border-foreground-300 transition transform-[translateY(0)_scale(1)] hover:transform-[translateY(-10px)_scale(1.05)] rounded-xl p-6 relative flex flex-col justify-center h-[200px]">
                        <p class="group-hover:text-accent-blue-700 text-accent-blue-500 transition text-center text-4xl font-bold">{{ stats.exercises }}</p>
                        <p class="text-center text-xl font-semibold">Exercices</p>

                        <div class="group-hover:text-accent-blue-700 text-accent-blue-500 group-hover:bg-accent-blue-700/16 bg-accent-blue-500/16  transition absolute right-5 top-5 p-3 rounded-lg h-[48px] w-[48px] flex justify-center">
                            <i class="fa-solid fa-pencil text-2xl m-auto"></i>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/3 p-5">
                    <div class="group shadow-accent-purple-700/22 hover:shadow-[0_12px_32px] bg-foreground-500 border border-solid border-foreground-300 transition transform-[translateY(0)_scale(1)] hover:transform-[translateY(-10px)_scale(1.05)] rounded-xl p-6 relative flex flex-col justify-center h-[200px]">
                        <p class="group-hover:text-accent-purple-700 text-accent-purple-500 transition text-center text-4xl font-bold">{{ stats.completed }}</p>
                        <p class="text-center text-xl font-semibold">Exercices Terminés</p>

                        <div class="group-hover:text-accent-purple-700 text-accent-purple-500 group-hover:bg-accent-purple-700/16 bg-accent-purple-500/16 transition absolute right-5 top-5 p-3 rounded-lg h-[48px] w-[48px] flex justify-center">
                            <i class="fa-solid fa-clipboard-check text-2xl m-auto"></i>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/3 p-5">
                    <div class="group shadow-accent-red-700/22 hover:shadow-[0_12px_32px] bg-foreground-500 border border-solid border-foreground-300 transition transform-[translateY(0)_scale(1)] hover:transform-[translateY(-10px)_scale(1.05)] rounded-xl p-6 relative flex flex-col justify-center h-[200px]">
                        <p class="group-hover:text-accent-red-700 text-accent-red-500  transition text-center text-4xl font-bold">{{ stats.corrected }}%</p>
                        <p class="text-center text-xl font-semibold">Exercices Corrigés</p>

                        <div class="group-hover:text-accent-red-700 text-accent-red-500 group-hover:bg-accent-red-700/16 bg-accent-red-500/16 transition absolute right-5 top-5 p-3 rounded-lg h-[48px] w-[48px] flex justify-center">
                            <i class="fa-solid fa-book-bookmark text-2xl m-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
