<span {{ attributes }}
    class="double-text {% if neon %}neon{% endif %}"
    style="--dt-smfont: {{ smFont }}px; --dt-smlineheight: {{ smFont + 10 }}px; --dt-lgfont: {{ lgFont }}px; --dt-lglineheight: {{ lgFont + 10 }}px"
    content="{{ text }}">
    {{ text }}
</span>
