<header class="bg-background-700/60 absolute shadow-header h-[88px] left-0 right-0 top-0 z-10">
    <div class="container mx-auto px-4 py-3">
        <div class="flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <a href="{% if admin %}{{ path('app_admin_dashboard') }}{% else %}{{ path('app_home') }}{% endif %}" class="flex items-center space-x-2">
                    <img src="{{ asset("images/icon.png") }}" alt="icon" class="w-12 h-12 md:w-16 md:h-16"/>
                    <h1 class="text-lg md:text-xl font-bold">PrépaLib</h1>
                </a>
            </div>

            <nav class="flex space-x-1">
                {% if app.user %}
                    {% if admin %}
                        <div class="relative nav-item">
                            <div class="rounded hover:bg-accent-purple-600 transition flex items-center h-10 w-16 justify-center duration-300">
                                <i class="fa-solid fa-database text-2xl"></i>
                                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </div>
                            <div class="nav-menu absolute right-0 pt-2 w-48 z-10 transition duration-500">
                                <div class="bg-foreground-500 rounded-md shadow-lg py-1">
                                    <span class="block px-4 py-2 text-center font-semibold">Données</span>
                                    <hr/>
                                    <a href="{{ path('app_admin_users') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-users aspect-square text-lg"></i>
                                        Utilisateurs
                                    </a>
                                    <a href="{{ path('app_admin_subjects') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-book aspect-square text-lg"></i>
                                        Matières
                                    </a>
                                    <a href="{{ path('app_admin_tags') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-tags aspect-square text-lg"></i>
                                        Tags
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="relative nav-item">
                            <div class="rounded hover:bg-accent-purple-600 transition flex items-center h-10 w-16 justify-center duration-300">
                                <i class="fa-solid fa-graduation-cap text-2xl"></i>
                                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </div>
                            <div class="nav-menu absolute right-0 pt-2 w-48 z-10 transition duration-500">
                                <div class="bg-foreground-500 rounded-md shadow-lg py-1">
                                    <span class="block px-4 py-2 text-center font-semibold">Ressources</span>
                                    <hr/>
                                    {% for subject in subjects %}
                                        <a href="{{ path('app_subject', {'subject': subject.id}) }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                            <i class="{{ subject.faicon}} aspect-square text-lg"></i>
                                            {{ subject.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="relative nav-item">
                            <div class="rounded hover:bg-accent-purple-600 transition flex items-center h-10 w-16 justify-center duration-300">
                                <i class="fa-regular fa-handshake text-2xl"></i>
                                <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </div>
                            <div class="nav-menu absolute right-0 pt-2 w-48 z-10 transition duration-500">
                                <div class="bg-foreground-500 rounded-md shadow-lg py-1">
                                    <span class="block px-4 py-2 text-center font-semibold">
                                        Contribuer
                                    </span>
                                    <hr/>
                                    <a href="{{ path('app_contribute_suggestion') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-lightbulb aspect-square text-lg"></i>
                                        Suggestion
                                    </a>
                                    <a href="{{ path('app_contribute_chapter') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-folder-plus aspect-square text-lg"></i>
                                        Créer un Chapitre
                                    </a>
                                    <a href="{{ path('app_contribute_exercise') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-file-circle-plus aspect-square text-lg"></i>
                                        Créer un Exercice
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="relative nav-item">
                    <div class="rounded hover:bg-accent-purple-600 transition flex items-center h-10 w-16 justify-center duration-300">
                        <i class="fa-solid {% if admin %}fa-user-tie{% else %}fa-user{% endif %} text-2xl"></i>
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>
                    <div class="nav-menu absolute right-0 pt-2 w-48 z-10 transition duration-500">
                        <div class="bg-foreground-500 rounded-md shadow-lg py-1">
                            {% if app.user %}
                                <span class="block px-4 py-2 text-center font-semibold">{% if admin %}Administrateur{% else %}Mon apprentissage{% endif %}</span>
                                <hr/>
                                <a href="{{ path('app_profile') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                    <i class="fa-solid fa-address-card aspect-square text-lg"></i>
                                    Mes Informations
                                </a>
                                <a href="{{ path('app_security') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                    <i class="fa-solid fa-lock aspect-square text-lg"></i>
                                    Sécurité
                                </a>
                                {% if admin %}
                                    <a href="{{ path('app_home') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                        <i class="fa-solid fa-home aspect-square text-lg"></i>
                                        Retour au Site
                                    </a>
                                {% else %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_admin_dashboard') }}" class="px-4 py-2 hover:bg-accent-blue-400 flex items-center gap-2 text-accent-blue-700">
                                            <i class="fa-solid fa-user-tie aspect-square text-lg"></i>
                                            Administrateur
                                        </a>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ path('app_logout') }}" class="px-4 py-2 hover:bg-accent-red-500 flex items-center gap-2 text-accent-red-800">
                                    <i class="fa-solid fa-right-from-bracket aspect-square text-lg"></i>
                                    Déconnexion
                                </a>
                            {% else %}
                                <span class="block px-4 py-2 text-center font-semibold">Rejoindre</span>
                                <hr/>
                                <a href="{{ path('app_login') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                    <i class="fa-solid fa-right-to-bracket aspect-square text-lg"></i>
                                    Connexion
                                </a>
                                <a href="{{ path('app_register') }}" class="px-4 py-2 hover:bg-accent-purple-700 flex items-center gap-2">
                                    <i class="fa-solid fa-user-plus aspect-square text-lg"></i>
                                    Créer un compte
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const triggers = Array.from(document.getElementsByClassName("nav-item"));

        triggers.forEach(trigger => {
            trigger.addEventListener('click', function (e) {
                e.stopPropagation();

                triggers.forEach(t => {
                    if (t !== trigger) {
                        t.classList.remove("clicked")
                    }
                });

                if (trigger.classList.contains('clicked')) {
                    trigger.classList.remove("clicked")
                } else {
                    trigger.classList.add("clicked")
                }
            });

            trigger.addEventListener('mouseover', function () {
                triggers.forEach(t => {
                    if (t !== trigger) {
                        t.classList.remove("clicked")
                    }
                });
            })
        });

        document.addEventListener('click', function () {
            triggers.forEach(t => t.classList.remove("clicked"));
        });
    });
</script>
