{% extends "admin/admin.base.html.twig" %}

{% block title %}Édition de l'essentiel {{ subject.name }}{% endblock %}

{% block main_class %}items-center p-4 pt-[88px] justify-center{% endblock %}

{% block main %}
    <div class="container px-4 py-8">
        <div class="rounded-xl bg-foreground-500 mx-auto">
            <div class="p-8">
                {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

                <h1 class="text-lg text-center md:text-xl font-bold">L'essentiel {{ subject.name }}</h1>

                {# Parts #}
                <twig:ListInput class="mb-6" subClass="w-full" :une="true" title="Partie" field="{{ form.parts }}"/>

                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
            <div class="px-8 py-2 bg-foreground-300/50 border-t rounded-b-xl border-foreground-300 text-center flex flex-col">

            </div>
        </div>
    </div>
{% endblock %}
