{% extends "admin/admin.base.html.twig" %}

{% block title %}Éditeur d'Élement de Révision{% endblock %}

{% block main_class %}items-center p-4 pt-[88px] justify-center{% endblock %}

{% block main %}
    <div class="container px-4 py-8">
        <div class="rounded-xl bg-foreground-500 mx-auto">
            <div class="p-8">
                {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

                <div>
                    {{ form_label(form.sortNumber) }}
                    {{ form_widget(form.sortNumber, {'attr': {'class': 'w-full'}}) }}
                    {{ form_errors(form.sortNumber) }}
                </div>

                <div>
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content, {'attr': {'class': 'w-full'}}) }}
                    {{ form_errors(form.content) }}
                </div>

                <div>
                    {{ form_label(form.details) }}
                    {{ form_widget(form.details, {'attr': {'class': 'w-full'}}) }}
                    {{ form_errors(form.details) }}
                </div>

                <div>
                    <twig:ListInput title="question" field="{{ form.questions }}" :une="true"/>
                </div>

                <button type="submit">Enregistrer</button>
                {{ form_end(form) }}
            </div>
            <div class="px-8 py-2 bg-foreground-300/50 border-t rounded-b-xl border-foreground-300 text-center flex flex-col">

            </div>
        </div>
    </div>
{% endblock %}
